* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}
/* Öll kort */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background: #eee;
}
/* Hvert kort */
.card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;

  background: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;

  max-width: 470px;
  max-height: 300px;

  margin-bottom: 10px;
  padding: 10px;
}
/* Fyrirsagnir */
.card__title {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;

}
/* Ílát fyrir texta og mynd */
.card__content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
/* Textinn */
.card__text {
  font-size: 16px;
  line-height: 22px;
  overflow: auto;
}
/* Myndir */
.card__img {
  max-width: 150px;
  flex: 0 0 150px;
  padding-left: 20px;
}
/* Fótur í kortum */
.card__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  list-style: none;
  font-weight: bold;
  
  padding-top: 10px;
}
.card__list li {
  margin: 0 10px 0 0;
}